<div class="production-page pt-3 pb-5">
    <h1 class="text-center">商品一覧</h1>

    <div class="pt-4 container">
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <%= image_tag 'sample_corn.jpeg' %>
                    <div class="card-body">
                        <h5 class="card-title">トウモロコシ</h5>
                        <p class="card-text">カードのタイトルに基づいてすばやく例文を作成し、カードのコンテンツの大部分を構築します。</p>
                        <a href="#" class="btn btn-primary">購入</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <%= image_tag 'tomato.jpeg' %>
                    <div class="card-body">
                        <h5 class="card-title">トマト</h5>
                        <p class="card-text">カードのタイトルに基づいてすばやく例文を作成し、カードのコンテンツの大部分を構築します。</p>
                        <a href="#" class="btn btn-primary">購入</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <%= image_tag 'nasu.jpeg' %>
                    <div class="card-body">
                        <h5 class="card-title">なす</h5>
                        <p class="card-text">カードのタイトルに基づいてすばやく例文を作成し、カードのコンテンツの大部分を構築します。</p>
                        <a href="#" class="btn btn-primary">購入</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
