<h1 class="text-center text-white mt-4">商品一覧</h1>

<div class="d-flex container justify-content-around m-4">
    <div class="card" style="width: 18rem;">
        <%= image_tag 'sample_corn.jpeg' %>
        <div class="card-body">
            <h5 class="card-title">トウモロコシ</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">購入</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <%= image_tag 'tomato.jpeg' %>
        <div class="card-body">
            <h5 class="card-title">トマト</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">購入</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <%= image_tag 'nasu.jpeg' %>
        <div class="card-body">
            <h5 class="card-title">なす</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">購入</a>
        </div>
    </div>
</div>
