header {
    background-color: rgb(230, 230, 71);
    width: 100%;
}

footer {
    background-color: rgb(230, 230, 71);
}

.title {
    font-family: serif;
}

.topic {
    font-family: cursive;
}

.link-underline {
    text-decoration-line: none;
}

.cart {
    margin-right: 10px;
}