header {
    background-color: #ececa7;
    width: 100%;
    color: #b2cd71;
    h2,
    .link-underline,
    .li {
    color: #b2cd71;
    }
    a:hover {
        color: #9cd90c;
    }
}

footer {
    background-color: #ececa7;
    color: #b2cd71;
    .footer-menu {
        text-decoration: none;
        color: #b2cd71;
    }
    a:hover {
        color: #9cd90c;
    }
}

.main {
    background-color: #deefd2;
    color: #849b9b;
}

.main-visual,
.sub-image {
    box-shadow: 0 0 50px 30px #f5fff1;
}

.title {
    font-family: serif;
}

.topic {
    font-family: cursive;
}

.link-underline {
    text-decoration-line: none;
}

.cart {
    margin-right: 10px;
}